<div class="container">
  <h1><img src="assets/img/home.png" alt="portal inmobiliario"> &nbsp;Portal Inmobiliario</h1>

  <!-- BUSCADOR DE CASAS -->
  <h3>Busca tu casa</h3>
  <div class="input-group" id="buscadorCasas">   
      <input type="text" class="form-control" placeholder="Busca tu casa por direccion o por nombre" [(ngModel)]="searchText">
      <span class="input-group-addon glyphicon glyphicon-search"></span>
  </div>
  <div class="row">
    <div class="radio">
      <h4>Filtros</h4>
      <label><input type="radio" name="modo" [(ngModel)]= "modo" value="0">Venta</label>
      <label><input type="radio" name="modo" [(ngModel)]= "modo" value="1">Alquiler</label>
      <label><input type="radio" name="modo" [(ngModel)]= "modo" value="2">Todos</label>
    </div>
    
    <p>
      <label for="precio">Precio:</label>&nbsp;Mín:&nbsp;<input type="text"  size="6">&nbsp;Max:&nbsp;<input type="text"  size="6" >
    </p>
  </div>
  <div class="row">
    <div class="col-md-4">
      <!--LISTADO-->
        <div class="list-group">
          <div class="row">
            <div class="thumbnail well well-lg">
              <a *ngFor='let casa of casas | filterCasas: searchText : modo : precioMin : precioMax' (click)="seleccionarCasa(casa)"><!--SelccionarCasa (casa) => let casa itero sobre esta -->
              <img src="{{casa.foto}}" alt="portal inmobiliario" class="img">
              <div class="caption">
                <h3>{{casa.nombre}}<span>{{casa.precio}}&euro;</span></h3>
              </div>
              <hr>
              </a> 
            </div>
          </div>
        </div> <!--LISTADO-->
    </div>
     <!-- Componente: Detalle de las casas -->
    <div id="detalleCasaComp" class="col-md-8">

        <!--@Input('casa') casadetalle : Casa;>>>>> ('casa')=> es lo que pongo en [casa]-->
        <app-casa [casa]="casaSelec"></app-casa>
    </div> <!--Fin componente hijo -->
  </div>
</div>