h1{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: #3398CE;
}

.thumbnail{
    
    span.nombreCasa{
        float: left;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 1em;
        font-weight: bold;
    }
    span.precio{
        float: right;
        font-size: 1em;
    
    }

}

#buscadorCasas{
    margin-bottom: 50px;
}