.caption{
    margin-top: 25px;
    margin-bottom: 25px;

.cocinero{
    text-align: center;
    padding: 45px;
}
.label{
    padding: 10px;
}
.likes{
    text-align: right;
    font-size: 0.875em;
}
}
.descripcion{
    text-align: justify;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.000em;
}
.imagen{
        width: 45px;
        height: 45px;
        position: absolute;
        left: 270px;
        top: 10px;
    }

span.imagen{
    float: right;
    margin-right: 10px;
    }
    h3{
        text-align: left;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 2.250em;
        color: #B4340D;
    }
