{{usuario.json}}
<div class="jumbotron">
    <div class="container">
            <div class="row">
                    <div class="col-sm-6 col-md-4">
                      <div class="thumbnail">
                        <img src="{{usuario.avatar}}" alt="{{usuario.avatar}}" >
                        <div class="caption">
                          <h3>{{usuario.nombre}}{{usuario.apellido}}</h3>
                          <p><span class="email">.&nbsp;{{usuario.email}}</span></p>
                          
                        </div>
                      </div>
                    </div>
                  </div>  
    </div>
  </div>

  
