<div id="todos">
    <section>

        <h2>Lista Tareas</h2>
        <input type="text" placeholder="Introduce una nueva tarea" class="nuevaT" size="100">
        <span class="glyphicon glyphicon-plus" (click)="anadirNuevaTarea()"></span>
        <ul>
            <li *ngFor="let todo of todos">
                <input type="checkbox" [checked]="todo.completed">{{todo.id}} {{todo.title}}
                <span class="glyphicon glyphicon-trash "  aria-hidden="true" (click)="eliminarTarea(todo)" [(ngModel)]="tachado"></span>
                <span class=" glyphicon glyphicon-pencil" aria-hidden="true" (click)="modificarTarea(todo)"></span>
            </li>
        </ul>


    </section>
</div>
