<section id="propiedades">  
  <h2>Propiedades</h2>
  <p>Componente para aprender con las <b>[propiedades]</b> en Angular, página 38 del manual.</p>
  <p [style.backgroundColor]="'pink'"> <code>[style.backgroundColor]="'pink'"</code> Cambiamos el color de fondo mediante un literal.</p>
  <p [style.color]="color">Cambiamos el color de la fuente mediante un atributo: <code>[style.color]="color"</code>.</p>
  <h3>Propiedad [Hidden]</h3>
  <p [hidden]="!ocultar">VISIBLE - Podemos usar el operador de negación <b>!</b></p>
  <p [hidden]="ocultar">OCULTO - Este párrafo no se muestra.Mediante CSS <code>display:none</code></p>

  <h3>Propiedad Enlace [href]</h3>
  <a [href]="enlace" target="_blank">API Angular</a>
 
  

</section>