#nombreCasa{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.85em;
    text-transform: uppercase;
    text-align: center;
    padding-left: 25px;
}
.imagen{
    margin-bottom: 25px;
}

span#precioCasa{
    float: right;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2em;
    font-weight: 600;
    color: #2C3E50;
   
    
}
.direccion{
    font-family: Arial, Helvetica, sans-serif;
    font-size:1.250em;
    text-align: justify;
    margin-top: 50px;
}

.thumbnail {
    position: relative;

    .cartelVentaAlquiler {
        position: absolute;
        top: 70px;
        right: 10px;
        //width: 40px;
        height: auto;
    }
}