/* Estilos de RecetarioComponent */

#buscadorRecetas {
    margin: 15px;

    .glyphicon-search {
        top: 0;
    }
}

#listaRecetas {

    a.list-group-item {
        position: relative;
        .icono-gluten {
            position: absolute;
            right: 5px;
            top: 5px;
            width: 25px;
            height: auto;
        }
    }
    
    
}

h1{
    text-align: center;
    color: #4BA34B;
    font-weight: 600;
}