<h1>RECETARIO WEB</h1>
<div class="row">

</div>
<div class="row">
  <div class="col-xs-3">
    <div class="panel panel-warning">
      <div class="panel-heading">
        <h3 class="panel-title">Lista de Recetas</h3>
      </div>
    </div>
    <div class="panel-body">
        <ul>
            <li *ngFor="let receta of recetas" (click)="seleccionarReceta(receta)">{{receta.nombre}}</li>
          </ul>  
    </div>  
  </div>

 <div class="col-xs-9">
    <div class="panel panel-warning">
        <div class="panel-heading">
            <h3 class="panel-title">Detalle de las recetas</h3>
        </div>
        <div class="panel-body">
           <app-detalle [receta]="recetaSelec"></app-detalle>
        </div>
    </div>
  </div>
</div>  

  
<!-- <div class="row"> -->