
    <h1> <img src="./assets/img/chef.png" alt="recetario Web"> RECETARIO WEB</h1>



<div class="row">
  <div class="buscador">
      <label for="glutenFilter">Recetas sin gluten:</label>&nbsp;<input type="checkbox" [(ngModel)]="glutenFilter">
      <input [(ngModel)] = "searchText" size="155" placeholder="Busca tu Receta por cocinero, receta o ingredientes" ><img class="lupa" src="./assets/img/magnifier.png" alt="lupa buscador">
  </div>
</div>
<div class="row">
  <div class="col-xs-3">
    <div class="panel panel-warning">
      <div class="panel-heading">
        <h3 class="panel-title">Lista de Recetas</h3>
      </div>
    </div>
    <div class="panel-body">
        <ul >
            <li *ngFor="let receta of recetas | filterReceta : searchText : glutenFilter" (click)="seleccionarReceta(receta)"><b>{{receta.nombre}}</b><br><em>{{receta.cocinero}}</em>
            </li>
        </ul>  
    </div>  
  </div>

 <div class="col-xs-9">
    <div class="panel panel-warning">
        <div class="panel-heading">
            <h3 class="panel-title">Detalle de las recetas</h3>
        </div>
        <div class="panel-body">
           <app-detalle [receta]="recetaSelec "></app-detalle> <!--Aqui el padre le manda un parametro "receta" al hijo para el input y output -->
        </div>
    </div>
  </div>
</div>  

  
<!-- <div class="row"> -->